<nav class="navbar navbar-dark navbar-expand-md bg-primary">
  <button
    type="button"
    align="center"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    arian-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-sm-justify-content-center" id="navbarNav" >

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home">Strona główna</a>
      </li>
      <li class="nav-item dropdown" aria-labelledby="navbarDropdownMenuLink">
        <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" >Kategorie
          <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item"> Komputery/Laptopy></a>
          <a class="dropdown-item"> Podzespoły komputerowe></a>
          <a class="dropdown-item"> Akcesoria></a>
        </div>
      </li>
      <li class="nav-item col-md-justify-content-center">
        <a class="nav-link " routerLink="/contact">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/about">O Nas</a>
      </li>

    </ul>

  </div>


  <button type="button mr-2" routerLink="/login" class="btn btn-primary px-3 me-2 order-md-last order-sm-first">
    <img src="/assets/images/login.png" >Zaloguj się
  </button>


</nav>
<div class="container">
  <div class="row mt-5" >
    <div class="col-12" style="text-align: center">
      <h1>Drogi Użytkowniku </h1>
      Niestety nie masz dostępu do tej części widoku <br>
      Jeśli zboczyłeś ze scieżki, kierujemy Cię tam, gdzie powinieneś zacząć
    </div>
    <button type="button " routerLink="/home" class="btn btn-primary mt-5">
      Wracam
    </button>
  </div>

</div>

