<nav class="navbar navbar-dark navbar-expand-md bg-primary">
  <button
    type="button"
    align="center"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    arian-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-sm-justify-content-center" id="navbarNav" >

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Strona główna</a>
      </li>
      <li class="nav-item dropdown" aria-labelledby="navbarDropdownMenuLink">
        <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" >Kategorie
          <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item"> Komputery/Laptopy></a>
          <a class="dropdown-item"> Podzespoły komputerowe></a>
          <a class="dropdown-item"> Akcesoria></a>
        </div>
      </li>
      <li class="nav-item col-md-justify-content-center">
        <a class="nav-link" routerLink="/contact">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/about">O Nas</a>
      </li>

    </ul>

  </div>


  <button type="button mr-2" routerLink="/login" class="btn btn-primary px-3 me-2 order-md-last order-first">
    <img src="/assets/images/login.png" >Zaloguj się
  </button>


</nav>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 mt-5">
    <div class="col-md-5">

      <h2> Zarejestruj się</h2>
      <form (ngSubmit)="userRegister()" class="was-validated">

        <div class="form-floating mb-3 mt-6">
          <input type="text" [(ngModel)]="register.dane" class="form-control" name="firstname" id="floatingInputname" required>
          <label class="form-label" for="floatingInputname">Imie i Nazwisko</label>
          <div class="invalid-feedback">
            Podaj imię i nazwisko.
          </div>
        </div>

        <div class="was-validated form-floating mb-3 mt-6">
          <input type="text" [(ngModel)]="register.nazwiskoMatka" class="form-control" id="floatingInputsurnamemom" name="floatingInputsurnamemom" required>
          <label class="form-label" for="floatingInputsurnamemom">Nazwisko rodowe Matki(wymagane)</label>
          <div class="invalid-feedback">
            Podaj imię rodowe matki.
          </div>
        </div>

        <div class="was-validated form-floating mb-3 mt-6">
          <input type="email" [(ngModel)]="register.email" class="form-control" id="floatingEmail" name="floatingEmail" required>
          <label for="floatingEmail">E-mail(wymagane)</label>
          <div class="invalid-feedback">
            Podaj email.
          </div>
        </div>

        <div class="was-validated form-floating mb-3 mt-6">
          <input type="text" [(ngModel)]="register.login" class="form-control" id="floatingLogin" name="floatingLogin" required>
          <label for="floatingLogin">Login(wymagane)</label>
          <div class="invalid-feedback">
            Podaj login.
          </div>
        </div>

        <div class="was-validated form-floating mb-3 mt-6">
          <input type="password" [(ngModel)]="register.haslo" class="form-control" id="floatingPassword" name="floatingPassword" required>
          <label for="floatingPassword">Hasło(wymagane)</label>
          <div class="invalid-feedback">
            Podaj hasło.
          </div>
        </div>

        <div class="was-validated form-floating mb-3 mt-6">
          <input type="text" [(ngModel)]="register.adres" class="form-control" id="floatingAdres" name="floatingAdres" required>
          <label for="floatingAdres">Adres zamieszkania</label>
          <div class="invalid-feedback">
            Podaj adres zamieszkania.
          </div>
        </div>

        <div class="was-validated form-floating mb-3 mt-6">
          <input type="text" [(ngModel)]="register.numerTel" class="form-control" id="floatingNumer" name="floatingNumer" required>
          <label for="floatingNumer">Numer telefonu</label>
          <div class="invalid-feedback">
            Podaj numer telefonu.
          </div>
        </div>


        <a><img src="assets/images/lock.png"/> Bezpieczeństwo Twoich danych jest dla nas bardzo ważne.
          Zgody możesz wycofać w dowolnym momencie kontaktując się z naszym serwisem.</a><br><br>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Akceptuje <a href= "assets/regulamin.pdf" target="_blank">regulamin</a> sklepu*
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked>
          <label class="form-check-label" for="flexCheckChecked2">
            Chcę otrzymywać informacje o aktualnych ofertach oraz promocjach w wiadomości e-mail*
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked>
          <label class="form-check-label" for="flexCheckChecked3">
            Chcę otrzymywać ofertę dopasowaną do moich potrzeb*
          </label>
        </div>
        <div class="d-grid gap-1">
          <button class="btn btn-primary" id="registerbutton" type="submin" data-toggle="modal" data-target="#modal-success">Zarejestruj się</button>
        </div>
        <div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <i class="glyphicon glyphicon-check"></i>
              </div>
              <div class="modal-title">Sukces</div>
              <div class="modal-body">Rejestracja przebiegła pomyślnie</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-6" id="right">
      <div class="mt-4 ml-4" id="lg"><p>Dlaczego warto założyć u nas konto?</p></div>
      <a><img src="/assets/images/order.png"/> Kupujesz o każdej porze</a><br>
      <a><img src="/assets/images/sale.png" /> Jesteś na bieżąco z promocjami</a><br>
      <a><img src="/assets/images/save.png"/> Nie potrzebujesz paragonu w razie reklamacji/zwrotów</a><br>
      <a><img src="/assets/images/secure.png"/> Oferujemy bezpieczne zakupy!</a><br>
      <a><img src="/assets/images/doortodoor.png"/> Specjalna gwarancja dla stałych klientów door-to-door</a><br>
      <a><img src="/assets/images/contact.png"/> Masz problem? Napisz, uporamy się z nim szybko</a><br>
    </div>

  </div>
</div>
