a.table-link.danger{
  color:#e74c3c;
}
@media(max-width: 767px)
{
  #navbarNav{
    vertical-align: center;
    text-align: center;
    font-size:30px;
  }
  #navbar{
    vertical-align: center;
    text-align: center;
  }

}
