<nav class="navbar navbar-dark navbar-expand-md bg-primary">
  <button
    type="button"
    align="center"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    arian-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-sm-justify-content-center" id="navbarNav" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home-log-admin">Strona główna</a>
      </li>
      <li  ngbDropdown class="nav-item dropdown">
        <a  ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
          Kategorie </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem routerLink="/pc-laptop-admin">Komputery/Laptopy></a>
          <a ngbDropdownItem routerLink="/computer-components-admin">Podzespoły komputerowe></a>
          <a ngbDropdownItem routerLink="/accessories-admin">Akcesoria></a>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  (click)="onOpenModale(null, 'add')" >Dodaj Procesor <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchProcesorss(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Szukaj procesora..." required>
  </form>
  <button type="button " routerLink="/userlist" class="btn btn-primary ml-2">
    <img src="/assets/images/editusers.png" >
  </button>
  <button type="button " routerLink="/orders" class="btn btn-primary ml-2">
    <img src="/assets/images/listorder.png" >
  </button>
  <button type="button " routerLink="/login" class="btn btn-primary ml-2">
    <img src="/assets/images/logout.png" > Wyloguj się
  </button>
</nav>


<div class="container"  id="main-container">
  <p style="text-align: center; font-size:25px"><img src="assets/images/iconcpu.png" style="width:5% ; margin-top: 1%"><i><b> Procesory</b> </i></p>

  <hr>

  <div class="row row-cols-1 row-cols-md-2">
    <div *ngFor= "let procesors of procesorss" class="col col-xl-5">

      <div class="card m-b-30" class="anim">
        <div class="card-body row">
          <div class="col" >
            <img src="{{procesors?.img}}" style="width:70%;"><br>
          </div>
          <div class="col">
            <p id="prop">Model: <b> {{procesors?.model}}</b><br>
              Gniazdo procesora: <b> {{procesors?.gprocesora}}</b><br>
              Taktowanie: <b>{{procesors?.taktowanie}}</b><br>
              Liczba rdzeni: <b>{{procesors?.lrdzeni}}</b><br>
              Cache: <b> {{procesors?.cache}} </b></p>
            <p style="text-align:right; font-size:20px">{{procesors?.cena}} zł</p>
            <a (click)="onOpenModal(procesors, 'edit')" class="table-link text-info">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
            </a>
            <a (click)="onOpenModal(procesors, 'delete')" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
            </a>
          </div>

        </div>
        <hr>      </div>


    </div>
  </div>
</div>

<!-- Add Procesors Modal -->
<div class="modal fade" id="addProcesorsModal" tabindex="-1" role="dialog" aria-labelledby="addProcesorsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProcesorsModalLabel">Dodaj Procesor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddProcesors(addForm)">
          <div class="form-group">
            <label for="model">Model</label>
            <input type="text" ngModel name="model" class="form-control" id="modelA" placeholder="Model" required>
          </div>
          <div class="form-group">
            <label for="gprocesora">Gniazdo procesora</label>
            <input type="text" ngModel name="gprocesora" class="form-control" id="gprocesoraA" placeholder="Gniazdo procesora" required>
          </div>
          <div class="form-group">
            <label for="taktowanie">Taktowanie</label>
            <input type="text" ngModel name="taktowanie" class="form-control" id="taktowanieA" placeholder="Taktowanie" required>
          </div>
          <div class="form-group">
            <label for="lRdzeni">Liczba rdzeni</label>
            <input type="text" ngModel name="lRdzeni" class="form-control" id="lRdzeniA" placeholder="Liczba rdzeni" required>
          </div>

          <div class="form-group">
            <label for="cache">Cache</label>
            <input type="text" ngModel name="cache" class="form-control" id="cacheA" placeholder="Cache" required>
          </div>
          <div class="form-group">
            <label for="cena">Cena</label>
            <input type="text" ngModel name="cena" class="form-control" id="cenaA" placeholder="Cena" required>
          </div>
          <div class="form-group">
            <label for="img">Image URL</label>
            <input type="text" ngModel name="img" class="form-control" id="imgA" placeholder="Image URL" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-procesors-form" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Zapisz zmiany</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateProcesorsModal" tabindex="-1" role="dialog" aria-labelledby="updateProcesorsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateProcesorsModalLabel"><H1>Edytuj Procesor</H1> {{editProcesors?.model}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="model">Model</label>
            <input type="text" ngModel="{{editProcesors?.model}}" name="model" class="form-control" id="model" aria-describedby="modelHelp" placeholder="Model">
          </div>
          <input type="hidden" ngModel="{{editProcesors?.idProcesora}}" name="idProcesora" class="form-control" id="idProcesora" placeholder="idProcesora">
          <input type="hidden" ngModel="{{editProcesors?.img}}" name="img" class="form-control" id="img" placeholder="img">
          <div class="form-group">
            <label for="gProcesora">Gniazdo procesora</label>
            <input type="text" ngModel="{{editProcesors?.gprocesora}}" name="gProcesora" class="form-control" id="gProcesora" placeholder="Gniazdo procesora">
          </div>
          <div class="form-group">
            <label for="taktowanie">Taktowanie</label>
            <input type="text" ngModel="{{editProcesors?.taktowanie}}" name="taktowanie" class="form-control" id="taktowanie" placeholder="Taktowanie">
          </div>
          <div class="form-group">
            <label for="lRdzeni">Liczba rdzeni</label>
            <input type="text" ngModel="{{editProcesors?.lrdzeni}}" name="lRdzeni" class="form-control" id="lRdzeni" name="lRdzeni" placeholder="Liczba rdzeni">
          </div>
          <div class="form-group">
            <label for="cache">Cache</label>
            <input type="text" ngModel="{{editProcesors?.cache}}" name="cache" class="form-control" id="cache" name="cache" placeholder="Cache">
          </div>
          <div class="form-group">
            <label for="cena">Cena</label>
            <input type="text" ngModel="{{editProcesors?.cena}}" name="cena" class="form-control" id="cena" name="cena" placeholder="Cena">
          </div>

          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Anuluj</button>
            <button (click)="onUpdateProcesors(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Zapisz zmiany</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteProcesorsModal" tabindex="-1" role="dialog" aria-labelledby="deleteProcesorsModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProcesorsModelLabel">Usuń procesor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Czy jesteś pewny , że chcesz usunąć procesor  {{deleteProcesors?.model}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
          <button (click)="onDeleteProcesors(deleteProcesors.idProcesora)" class="btn btn-danger" data-dismiss="modal">Tak</button>
        </div>
      </div>
    </div>
  </div>
</div>

