<nav class="navbar navbar-dark navbar-expand-md bg-primary">
  <button
    type="button"
    align="center"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    arian-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-sm-justify-content-center" id="navbarNav" >

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Strona główna</a>
      </li>
      <li class="nav-item dropdown" aria-labelledby="navbarDropdownMenuLink">
        <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" >Kategorie
          <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item"> Komputery/Laptopy></a>
          <a class="dropdown-item"> Podzespoły komputerowe></a>
          <a class="dropdown-item"> Akcesoria></a>
        </div>
      </li>
      <li class="nav-item col-md-justify-content-center">
        <a class="nav-link " routerLink="/contact">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/about">O Nas</a>
      </li>

    </ul>

  </div>


  <button type="button mr-2" routerLink="/login" class="btn btn-primary px-3 me-2 order-md-last order-first">
    <img src="/assets/images/login.png" >Zaloguj się
  </button>


</nav>
<div class="container">
  <div class="row">
    <h1> O nas</h1>
    <p>Nasza historia rozpoczęła się w 1999 roku z chwilą otwarcia pierwszego salonu stacjonarnego.
      Od tej pory nieustannie się rozwijamy, dzięki czemu staliśmy się ekspertami w branży komputerowej.
      Łączymy empatię i technologię, co pozwala nam lepiej rozumieć potrzeby Klientów.
      Jesteśmy otwarci na sugestie i oferujemy rozwiązania, zapewniające 100% satysfakcji.</p>
    <div class="col mt-5" style="text-align: center">
      <img src="assets/images/company.png"/><br>
      <b>5 </b><br>
      Salonów w Polsce
    </div>
    <div class="col mt-5" style="text-align: center">
      <img src="assets/images/people.png"/><br>
      <b>1500+ </b><br>
      Zatrudnionych pracowników
    </div>
    <div class="col mt-5" style="text-align: center">
      <img src="assets/images/products.png"/><br>
      <b>5000+</b><br>
      Oferowanych produktów
    </div>
    <div class="col mt-5" style="text-align: center">
      <img src="assets/images/user.png"/><br>
      <b> MLN+</b><br>
      Klientów
    </div>
    <p><br><br>Naszą największą siłą są ludzie. Profesjonalni,
      zaangażowani i otwarci na potrzeby Klientów. Nasz zespół liczy już ponad 1 500 osób
      i stale się powiększa. Specjalistów i pasjonatów, którzy chcą do nas dołączyć zapraszamy do odwiedzenia Nas
      w naszych placówkach lub poprzez <a href="contact">kontakt</a> na naszej stronie internetowej.</p>
    <hr>

    <div class="row row-cols-1 row-cols-xl-2">
      <div class="col">
        <h3>Dane firmy</h3>
        <p> <b>MatIT</b> sp.z.o.o<br>
          ul. Aleja IX Wieków 4<br>
          27-600 Sandomierz<br>
          NIP: 667385033<br>
          Konto Bankowe:
          11 1010 2211 2033 5212 3232 1234<br>
        </p>
      </div>
      <div class="col mb-3" id="" >
        <img src="assets/images/building.png" width="100%" height="65%" >
      </div>
    </div>
  </div>
</div>
